Flask-Caching==1.11.1
Flask-Cors==5.0.0
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-Moment==1.0.6
Flask-SQLAlchemy==3.1.1
Flask==3.1.0
Jinja2==3.1.5
Mako==1.3.8
MarkupSafe==3.0.2
PyJWT==2.10.1
PyYAML==6.0.2
Pygments==2.19.1
SQLAlchemy-Continuum==1.4.2
SQLAlchemy-Utils==0.41.2
SQLAlchemy==2.0.37
Werkzeug==3.1.3
alembic==1.14.1
aniso8601==10.0.0
annotated-types==0.7.0
asyncpg==0.30.0
attrs==24.3.0
blinker==1.9.0
cachelib==0.13.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
ecdsa==0.19.0
filelock==3.17.0
flask-jwt-oidc==0.7.0
flask-marshmallow==1.2.1
flask-restx==1.3.0
fsspec==2024.12.0
gunicorn==23.0.0
huggingface-hub==0.27.1
idna==3.10
importlib_resources==6.5.2
itsdangerous==2.2.0
joblib==1.4.2
jsonlines==4.0.0
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
keybert==0.8.5
loguru==0.7.3
markdown-it-py==3.0.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==1.0.0
marshmallow==3.26.0
mdurl==0.1.2
mpmath==1.3.0
networkx==3.4.2
nomic==3.4.1
numpy==2.2.2
packaging==24.2
pandas==2.2.3
pgvector==0.3.6
pillow==11.1.0
psycopg2-binary==2.9.10
psycopg2==2.9.10
pyarrow==19.0.0
pyasn1==0.6.1
pydantic==2.10.6
pydantic_core==2.27.2
pyhumps==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
pytz==2024.2
referencing==0.36.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.1
secure==1.0.1
sentence-transformers==3.4.0
setuptools==75.8.0
six==1.17.0
sympy==1.13.1
threadpoolctl==3.5.0
timescale-vector==0.0.7
tokenizers==0.21.0
torch==2.5.1
tqdm==4.67.1
transformers==4.48.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
